@import '../mobile';
& {
    .navi {
        // .search {
        //     >div {
        //         input {
        //             width: 75%;
        //         }
        //     }
        // }

        nav {

            >div {
                min-height: calc(100% - 123px);
            }
        }

        .menu-active~div {
            width: 252px;
            height: calc(100% - 123px);
        }

        >a {
            padding: 0 10px;
            color: #505050;
            line-height: 48px;
            text-decoration: none;
            font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
            font-size: 86%;
        }
    }

}
