@import '../mobile';

& {
    background: $backgroundColor url('../../images/dropbox/background.jpg') no-repeat;
    background-position: 390px 0;
    background-size: cover;
    
    div {
        padding: 40px 0 5px;

        h1 {
            margin: 0 20px;
            text-align: left;
        }

        h2 {
            margin: 20px;
            text-align: left;

        }
    }
}
