@import '../mobile';

& {
    >div {
        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            input {
                display: block;
                width: 253px;
                margin: 10px auto 0;
            }

            button {
                width: auto;
                margin: 10px auto 0;
                padding: 10px 9px;
            }
        }
    }
}
