@import '../desktop';

& {
    >div {
        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            input {
                display: block;
                width: auto;
                height: 40px;
                margin: 10px auto 0;
            }

            .login {
                background-position: 10px -468px;
            }

            .email {
                background-position: 10px -380px;
            }

            .password {
                background-position: 10px -424px;
            }

            button {
                width: auto;
                margin: 10px auto 0;
                padding: 10px 9px;
            }
        }
    }
}
