// cyrillic
@font-face {
	font-family:"shell-icons";
	src:url("../fonts/shell-icons-0.4.0.eot");
	src:url("../fonts/shell-icons-0.4.0.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shell-icons-0.4.0.woff") format("woff"),
	url("../fonts/shell-icons-0.4.0.ttf") format("truetype")
}

