& {
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: 33.33333333333%;
            height: 300px;
            overflow: hidden;
            
            a {
                text-decoration: none;
                font-family: 'Oculus Sans',Arial,Helvetica,sans-serif;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 300px;
                background-size: cover;
                background-position: center center;
                transition: transform .3s,opacity .3s;

                div {
                    background: rgba(40, 40, 40, .7);
                    h4 {
                        margin: 0;
                        color: $h4Color;
                        font-size: 12px;
                        line-height: 16px;
                        text-align: center;
                        text-transform: uppercase;
                        word-wrap: break-word;
                    }

                    h3 {
                        margin: 0;
                        color: $h3Color;
                        font-size: 22px;
                        line-height: 28px;
                        text-align: center;
                    }
                }
            }

            .eve {
                background-image: url('../../images/oculus/eve-valkyrie.jpg');
            }

            .lucky {
                background-image: url('../../images/oculus/luckys-tale.jpg');
            }

            .oculus {
                background-image: url('../../images/oculus/touch.jpg');
            }

            &:hover {
                a {
                    div {
                        -webkit-transform: scale(1.1, 1.1);
                        -ms-transform: scale(1.1, 1.1);
                        transform: scale(1.1, 1.1);

                        div {
                            background: rgba(40, 40, 40, .1);
                            -webkit-transform: scale(.9, .9);
                            -ms-transform: scale(.9, .9);
                            transform: scale(.9, .9);
                        }
                    }
                }
            }
        }
    }
}
