$backgroundColor:                       #323a45;
$headerColor:                           #fff;
$termsColor:                            #747c83;
$inputBorderColor:                      #d4d7da;
$submitBackground:                      #f42156;
$inputColor:                            #8a959e;
$inputErrorBorderColor:                 #ff3366;
