& {
    position: relative;
    background: $backgroundColor;// url('../../images/dropbox/background.jpg') no-repeat;
    font-family: 'Open Sans','lucida grande','Segoe UI',arial,verdana,'lucida sans unicode',tahoma,sans-serif;
    overflow: hidden;

    .hero {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 1770px;
        height: 700px;
        background: url('../../images/dropbox/background.jpg') no-repeat;
        z-index: 0;
    }

    div {
        position: relative;
        max-width: 990px;
        margin: 0 auto;
        padding: 155px 0 120px;
        z-index: 9;

        h1 {
            max-width: 350px;
            margin: 0 20px;
            color: $headerColor;
            font-size: 31px;
            -webkit-font-smoothing: antialiased;
            font-weight: 100;
            line-height: 40px;
        }

        h2 {
            max-width: 310px;
            margin: 20px;
            color: $headerColor;
            font-size: 16px;
            font-weight: 100;
            line-height: 24px;
        }

        div {
            margin: 79px auto 0;
            padding: 0;

            a {
                display: inline-block;
                margin: 0 20px;
                padding: 14px 40px;
                border-radius: 6px;
                background: $buttonBackgroundColor;
                color: $buttonTextColor;
                font-size: 16px;
                line-height: 21px;
                text-align: center;
                text-decoration: none;
            }

            span {
                display: block;
                margin: 15px 0 0 20px;
                color: $headerColor;
                font-size: 16px;

                a {
                    margin: 0;
                    padding: 0;
                    border-bottom: 1px solid $buttonBackgroundColor;
                    border-radius: 0;
                    background: 0;
                    color: $buttonBackgroundColor;
                    font-size: 16px;
                    line-height: 21px;
                    box-sizing: border-box;
                }
            }
        }
    }

}
