$backgroundColor:                               #f7f7f7;
$headerColor:                                   #47525d;
$buttonBackgroundColor:                         #0071e0;
$buttonTextColor:                               #fff;
