& {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 48px;

  .logo {
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;
	  height: 100%;
	  margin-left: 3%;

    img {
		width: 108px;
		height: 23px;
		margin: 0 10px;
	}

    nav {
		display: flex;

		// Common properties
		li {
			position: relative;

			a {
				display: block;
				color: $linkColor;
				font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
				font-size: 1em;
				font-weight: normal;
				line-height: 48px;
				text-decoration: none;

				&:hover {
					background-color: $subMenuLevel2BackgroundColor;
				}
			}
		}

		// First Level menu
		div {
			min-width: 241px;

			ul {
				display: flex;
				padding: 0;
				list-style: none;

				li {
					min-height: 48px;

					a {
						display: block;
						padding: 0 22px;
					}

					// Submenu level 1
					div {
						display: none;
						position: absolute;
						left: 100%;
						width: auto;
						max-height: 0;
						background: $subMenuBackgroundColor;
               			z-index: 99;

						ul {
							flex-direction: column;

							li {
								position: initial;
								min-height: 48px;

								a {
									padding: 17px 24px;
									line-height: 20px;

								}

								>.active {
									background: $subMenuLevel2BackgroundColor;
								}

								// Submenu level 2
								div {
									top: 0;
									min-width: 299px;
									min-height: 100%;
									background: $subMenuLevel2BackgroundColor;

									a:hover {
										text-decoration: underline;
									}
								}

							}
						}
					}


					.active~div {
						display: block;
						max-height: 100vh;
						border-right: 1px solid $subMenuBorderRightColor;
						border-bottom: 1px solid $subMenuBorderBottomColor;
						animation: submenu .2s;
					}

					@keyframes submenu {
						0% {
							max-height: 0;
							overflow: hidden;
						}

						25% {
							max-height: 25vh;
							// overflow: visible;
						}

						75% {
							max-height: 50vh;
							// overflow: visible;
						}

						100% {
							max-height: 100vh;
							overflow: visible;
						}
					}

				}

				.dropdown {
					>a {
						background: url('../../images/ms/arrow.png') no-repeat 95% center;
						
						&:hover {
							background-color: $subMenuLevel2BackgroundColor;
						}
					}

					>.active {
						background: $subMenuBackgroundColor url('../../images/ms/arrow.png') no-repeat 95% center;
					}

					// First Level menu
					>div {
						left: 0;

						ul {
							.dropdown {
								>a {
									background: url('../../images/ms/arrowright.png') no-repeat 95% center;

									&:hover {
										background-color: $subMenuLevel2BackgroundColor;
									}
								}
								
								// >a:hover~div {
								// 	display: block;
								// 	max-height: 100vh;
								// 	animation: 0;
								// }

								@keyframes deepmenu {
									0% {
										display: none;
										overflow: hidden;
									}

									25% {
										// max-height: 25vh;
										// overflow: visible;
									}

									75% {
										// max-height: 50vh;
										// overflow: visible;
									}

									100% {
										display: block;
										// overflow: visible;
									}
								}


								>div {
									display: none;
									left: 100%;

									.active {
										background: $subMenuLevel2ActiveBackgroundColor;
									}

									a:hover {
										background-color: $subMenuLevel2ActiveBackgroundColor;
									}
								}

								.active~div {
									display: block;
									animation: 0;
								}

								// .active~div {
								// 	display: block;
								// }

								>.active {
									background: $subMenuLevel2BackgroundColor url('../../images/ms/arrowright.png') no-repeat 95% center;
								}

							}
						}
					}

				}
			}
		}

		}
	}

	.navi {
		display: flex;
		align-items: center;
		margin-right: 3%;

		.search {
			margin-right: 11px;


			>div {
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 273px;
				border: 1px solid $searchInputBorder;
				background: $subMenuBackgroundColor;

				input {
					display: block;
					flex-grow: 2;
					height: 30px;
					padding: 0 10px;
					border: 0;
					font-family: wf_segoe-ui_normal,Tahoma,Verdana,Arial,sans-serif;
					font-size: 15px;
					font-weight: normal;

					&:focus {
						outline: 0;
					}

					&::-webkit-input-placeholder {
						color: $linkColor;
						opacity: 1;
					}

					&::-moz-placeholder {
						color: $linkColor;
						opacity: 1;
					}// Firefox 19+

					&:-moz-placeholder {
						color: $linkColor;
						opacity: 1;
					}// Firefox 18-

					&:-ms-input-placeholder {
						color: $linkColor;
						opacity: 1;
					}
				}

				button {
					width: 33px;
					height: 30px;
					border: 0;
					background: $searchButtonBackground url('../../images/ms/search.png') no-repeat center;
					background-size: 20px;
					cursor: pointer;

					// &:hover {
					// 	background-image: url('../../images/ms/searchblue.png');
					// }


					&:focus {
						// background-color: #0060ac;
						outline: 0;
					}
				}
			}
		}


		.basket {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 100%;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				color: $basketLinkColor;
				font-family: 'shell-icons';
				font-size: .75em;
				text-decoration: none;

				span {
					margin-left: 3px;
				}
			}

		}


		>a {
			padding: 0 10px;
			color: $loginLinkColor;
			font-family: 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Helvetica Neue','BBAlpha Sans','S60 Sans',Arial,sans-serif;
			font-size: 86%;
			line-height: 48px;
			text-decoration: none;
		}

	}
}
