& {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;

    .logo {
        img {
            width: 108px;
            height: 23px;
            margin: 0 10px;
        }
    }

    .navi {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        
        .search {
            width: 44px;
            height: 48px;

            >a {
                display: block;
                width: 100%;
                height: 100%;
                border: 0;
                background: url('../../images/ms/search.png') no-repeat center;

                &:focus {
                    outline: 0;
                }
            }

            .search-active {
                background-color:#f2f2f2;
            }

            .search-active~div {
                display: flex;
            }

            >div {
                position: absolute;
                display: none;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 75px;
                left: 0;
                top: 48px;
                background: #f2f2f2;

                div {
                    display: flex;
                    width: 75%;

                    input {
                        display: block;
                        flex-grow: 2;
                        // float: left;
                        border: 0;
                        height: 30px;
                        font-family: wf_segoe-ui_normal,Tahoma,Verdana,Arial,sans-serif;

                        &:focus {
                            outline: 0;
                        }

                        &::-webkit-input-placeholder {
                            color: #2f2f2f;
                            opacity: 1;
                        }
                        &::-moz-placeholder {
                            color: #2f2f2f;
                            opacity: 1;
                        }/* Firefox 19+ */
                        &:-moz-placeholder {
                            color: #2f2f2f;
                            opacity: 1;
                        }/* Firefox 18- */
                        &:-ms-input-placeholder {
                            color: #2f2f2f;
                            opacity: 1;
                        }
                    }

                    button {
                        width: 33px;
                        height: 30px;
                        border: 0;
                        background: #0078D7 url('../../images/ms/searchblue.png') no-repeat center;

                        &:focus {
                            background-color: #0060ac;
                            outline: 0;
                        }
                    }
                }
            }
        }

        nav {
            width: 44px;
            height: 100%;

            &:hover {
                height: 100%;
                background: #f2f2f2 url('../../images/ms/menu.jpg') no-repeat center;
            }

            >a {
                display: block;
                width: 100%;
                height: 100%;
                background: url('../../images/ms/menu.jpg') no-repeat center;
            }

            >div {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 48px;
                right: 0;
                width: 0;
                min-height: calc(100% - 48px);
                list-style: none;
                background: #f2f2f2;
                overflow: hidden;
                transition: width .3s ease-out;

                ul {
                    padding: 0;

                    li {
                        display: inline;
                        line-height: 48px;
                        div {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height .2s ease-out;
                        }
                    }
                }

                .dropdown {
                    >a {
                        background: url('../../images/ms/arrow.png') no-repeat 95% center;
                    }
                }

                a {
                    display: block;
                    padding: 0 12px;
                    color: #2f2f2f;
                    font-family: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;
                    line-height: 48px;
                    text-decoration: none;
                }

                >ul {
                    >li {
                        >.active~div {
                            max-height: 100vh;
                            overflow: auto;
                            border-left: 1px solid rgba(0,0,0,0.05);
                            border-bottom: 1px solid rgba(0,0,0,0.3);
                            border-right: 1px solid rgba(0,0,0,0.1);
                            background: #e5e5e5;
                            transition: max-height .3s ease-in;
                        }

                        >div {
                            >ul {
                                >li {
                                    >.active~div {
                                        max-height: 100vh;
                                        overflow: auto;
                                        border-left: 1px solid rgba(0,0,0,0.05);
                                        border-bottom: 1px solid rgba(0,0,0,0.3);
                                        border-right: 1px solid rgba(0,0,0,0.1);
                                        background: #ddd;
                                        transition: max-height .3s ease;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        .menu-active~div {
            width: 100%;
            overflow: auto;
            transition: none;
        }

        .basket {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 100%;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: #7f7f7f;
                font-family: "shell-icons";
                font-size: .75em;
                text-decoration: none;

                span {
                    margin-left: 3px;
                }
            }

        }
    }

}
