& {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    background: $searchButtonBackground;

    .logo {
        img {
            width: 108px;
            height: 23px;
            margin: 0 10px;
        }
    }

    .navi {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        .search {
            width: 44px;
            height: 48px;

            >a {
                display: block;
                width: 100%;
                height: 100%;
                border: 0;
                background: url('../../images/ms/search.png') no-repeat center;

                &:focus {
                    outline: 0;
                }
            }

            .search-active {
                background-color: $subMenuBackgroundColor;
            }

            .search-active~div {
                display: flex;
            }

            >div {
                display: none;
                position: absolute;
                top: 48px;
                left: 0;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 75px;
                background: $subMenuBackgroundColor;
                z-index: 99;

                div {
                    display: flex;
                    width: 75%;

                    input {
                        display: block;
                        flex-grow: 2;
                        height: 30px;
                        padding: 0 10px;
                        border: 0;
                        font-family: wf_segoe-ui_normal,Tahoma,Verdana,Arial,sans-serif;

                        &:focus {
                            outline: 0;
                        }

                        &::-webkit-input-placeholder {
                            color: $linkColor;
                            opacity: 1;
                        }

                        &::-moz-placeholder {
                            color: $linkColor;
                            opacity: 1;
                        }// Firefox 19+

                        &:-moz-placeholder {
                            color: $linkColor;
                            opacity: 1;
                        }// Firefox 18-

                        &:-ms-input-placeholder {
                            color: $linkColor;
                            opacity: 1;
                        }
                    }

                    button {
                        width: 33px;
                        height: 30px;
                        border: 0;
                        background: $searchMobileButtonBackgroundColor url('../../images/ms/searchblue.png') no-repeat center;

                        &:focus {
                            outline: 0;
                            background-color: $searchMobileButtonFocusedBackgroundColor;
                        }
                    }
                }
            }
        }

        nav {
            width: 44px;
            height: 100%;

            &:hover {
                height: 100%;
                background: $subMenuBackgroundColor url('../../images/ms/menu.jpg') no-repeat center;
            }

            >a {
                display: block;
                width: 100%;
                height: 100%;
                background: url('../../images/ms/menu.jpg') no-repeat center;
            }

            >div {
                // display: flex;
                position: absolute;
                top: 48px;
                right: 0;
                flex-direction: column;
                width: 0;
                min-height: calc(100vh - 48px);
                transition: width .3s ease-out;
                background: $subMenuBackgroundColor;
                list-style: none;
                overflow: hidden;

                ul {
                    padding: 0;

                    li {
                        display: inline;
                        line-height: 48px;

                        div {
                            position: relative;
                            max-height: 0;
                            transition: max-height .2s ease-out;
                            // overflow: hidden;
                        }
                    }
                }

                .dropdown {
                    >a {
                        background: url('../../images/ms/arrow.png') no-repeat 95% center;
                    }
                }

                a {
                    display: block;
                    padding: 0 12px;
                    color: $linkColor;
                    font-family: 'Segoe UI','wf_segoe-ui_normal','Arial',sans-serif;
                    line-height: 48px;
                    text-decoration: none;

                    &:hover {
                        background-color: $subMenuLevel2BackgroundColor;
				    }

                }

                >ul {
                    >li {
                        div {
                            display: none;
                        }

                        >.active~div {
                            display: block;
                            max-height: 1000vh;
                            border-right: 1px solid $subMenuBorderRightColor;
                            border-bottom: 1px solid $subMenuBorderBottomColor;
                            border-left: 1px solid $subMenuBorderLeftColor;
                            background: $subMenuLevel2BackgroundColor;
                            animation: submenu .3s;

                            a:hover {
                                background-color: $subMenuLevel2ActiveBackgroundColor;
                            }
                        }

                        @keyframes submenu {
                            0% {
                                max-height: 0;
                                overflow: hidden;
                            }

                            25% {
                                max-height: 25vh;
                            }

                            75% {
                                max-height: 50vh;
                            }

                            99% {
                                max-height: 100vh;
                                overflow: visible;
                            }

                            100% {
                                max-height: initial;
                                // overflow: visible;
                            }
					    }

                        >div {
                            >ul {
                                >li {
                                    >.active~div {
                                        display: block;
                                        max-height: 1000vh;
                                        border-right: 1px solid $subMenuBorderRightColor;
                                        border-bottom: 1px solid $subMenuBorderBottomColor;
                                        border-left: 1px solid $subMenuBorderLeftColor;
                                        background: $subMenuLevel3ActiveBackgroundColor;
                                        animation: submenu .3s;

                                        a:hover {
                                            background-color: $subMenuLevel3HoverBackgroundColor;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        .menu-active~div {
            width: 100%;
            transition: none;
            overflow: auto;
        }

        .basket {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 100%;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: $basketLinkColor;
                font-family: 'shell-icons';
                font-size: .75em;
                text-decoration: none;

                span {
                    margin-left: 3px;
                }
            }

        }

        >a {
            padding: 0 10px;
            color: $loginLinkColor;
            font-family: 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Helvetica Neue','BBAlpha Sans','S60 Sans',Arial,sans-serif;
            font-size: 86%;
            line-height: 48px;
            text-decoration: none;
        }

    }

}
