$linkColor:                                 #2f2f2f;
$subMenuBackgroundColor:                    #f2f2f2;
$subMenuLevel2BackgroundColor:              #e5e5e5;
$subMenuBorderRightColor:                   rgba(0, 0, 0, .1);
$subMenuBorderBottomColor:                  rgba(0, 0, 0, .3);
$subMenuBorderLeftColor:                    rgba(0, 0, 0, .05);
$subMenuLevel2ActiveBackgroundColor:        #d9d9d9;
$searchInputBorder:                         #a9a9a9;
$searchButtonBackground:                    #fff;
$subMenuLevel3ActiveBackgroundColor:        #ddd;
$basketLinkColor:                           #7f7f7f;
$loginLinkColor:                            #505050;
$searchMobileButtonBackgroundColor:         #0078d7;
$searchMobileButtonFocusedBackgroundColor:  #0060ac;
