& {
    background: $backgroundColor;
    font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 12px;


    div {
        nav {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-width: 980px;
            max-height: 266px;
            margin: 0 auto;
            padding: 32px 22px 0;
            // font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
            // font-size: 12px;
            h4 {
                margin: 0;
                color: $menuLinkColor;
            }

            ul {
                margin: 10px 0 20px;
                padding: 0;
                list-style: none;

                li {
                    a {
                        color: $menuLinkColor;
                        -webkit-font-smoothing: antialiased;
                        line-height: 20px;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        section {
            max-width: 980px;
            margin: 0 auto;
            padding: 4px 22px 24px;

            p {
                border-bottom: 1px solid $borderColor;
                color: $resellerColor;

                a {
                    color: $resellerLinkColor;
                    text-decoration: none;

                    &:hover {
                        color: $menuLinkColor;
                        text-decoration: underline;
                    }
                }
            }

            div {
                display: flex;
                // align-items: center;

                div {
                    display: flex;
                    flex-wrap: wrap;

                    p {
                        margin: 0 26px 0 0;
                        border: 0;
                    }

                    ul {
                        display: flex;
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        li {
                            margin: 0 10px 0 0;
                            padding: 0 12px 0 0;
                            border-right: 1px solid $legalBorderColor;

                            a {
                                min-width: 0;
                                // margin: 0 12px 0 0;
                            }

                            &:last-child {
                                border: 0;
                            }
                        }
                    }

                    a {
                        display: flex;
                        min-width: 86px;
                        color: $localeColor;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }

                        span {
                            width: 16px;
                            height: 16px;
                            margin: 0 5px 0 0;
                            background: url('../../images/apple/usa.png');
                        }
                    }
                }

                .locale {
                    flex-grow: 2;
                    justify-content: flex-end;

                    a {
                        line-height: 16px;
                    }
                }
            }
        }
    }
}
