$menuLinkColor:                         #333;
$backgroundColor:                       #f2f2f2;
$resellerColor:                         #999;
$borderColor:                           #e3e3e3;
$resellerLinkColor:                     #08c;
$localeColor:                           #666;
$legalBorderColor:                      #d6d6d6;
